body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/ensalada\ \(2\).jpg);
    background-size : cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 800px; /* Ancho total de los formularios */
}

.login-container, .register-container {
    background-color: white;
    padding: 30px; /* Aumentado para más espacio interno */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 380px; /* Ancho de cada formulario */
    margin: 0 10px; /* Margen entre formularios */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px; /* Aumentado para más espacio entre campos */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px; /* Aumentado para más espacio interno */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 12px; /* Aumentado para más espacio interno */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px; /* Aumentado para mejor legibilidad */
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.ok{
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: aliceblue;
    color: #ffff;
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}